<div class="container  ">
  <div class="card" style="width: 68rem;">
    <div class="card-body">
      <h1 class="text-center">Employee's Details
      <h2>Name :- <%=  @user.first_name + " " + @user.last_name%></h2>
      <h2 >Email :-   <%=@user.email%></h2>
      <h2>Password :-<%=@user.password%></h2>
      <h2>Subscription id:-<%=@user.subscription_email%></h2>
      <br></h2>
    </div>
  </div>
</div>
